@import '../css/normalize.css';
@import '../fonts/fonts.css';
@import '../css/variables.css';
@import '../css/overall.css';


.header {
    padding: 35px 0 36px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    /* margin-left: 117px; */
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}

.menu-btn {
    width: 40px;
    height: 11px;
    position: relative;
}

body {
    background-color: var(--black-color);
    font-family: 'Inter';
}

.menu-btn::before,
.menu-btn::after {
    content: "";
    position: absolute;
    background-color: var(--white-color);
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;


}

.menu-btn::after {
    top: auto;
    bottom: 0;
}

.phone-box {
    flex-grow: 1;
    text-align: right;
    flex-basis: 0;

}

.phone {
    font-size: 20px;

} 

/* ----------------------------------------------------------------------------------------- */
.best {
    padding: 11px 0 var(--offset);

}

.best__title {
    margin-bottom: 40px;
    line-height: 125%;
    text-transform: uppercase;
    max-width: 100%;
    font-size: 49px;
}

.best__title span {
    position: relative;
    font-weight: 300;
}

.best__title span::after {
    position: absolute;
    content:  "";
    height: 1px;
    width: 100%;
    background-color: var(--white-color);
    left: 0;
    bottom: 0;
}



.best__top-box {
    position: relative;
}

.best__top-descr {
    position: absolute;
    font-size: 48px;
    left: 40px;
    bottom: 27px;

}

.best__top-img {
    border-radius: 15px;
}

.best__top {
    margin-bottom: 39px;
}

.best__bottom-buttons {
    display: flex;

}

.best__bottom-btn {
    display: inline-block;
}



.best__bottom-btn:first-child {
    padding: 19.5px 67px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: 500;
    font-size: 20px;
}

.best__bottom-btn:last-child {
    font-weight: 300;
    font-size: 20px;
    background-color: transparent;
    padding: 19.5px 51px;
    border: 1px solid var(--white-color);
}

.best__list {
    display: flex;
    justify-content: space-between;
    
}

.best__item {
    position: relative;
    padding-left: 38px;
    min-width: 200px;
    max-width: 212px;
}

.best__item span{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #8A8A8A;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8A8A8A;
    font-family: Inter;
    
}


/* ----------------------------------------------------------------------------------------- */

.risk {
    padding: var(--offset) 0;

}

.risk__list {
    counter-reset: cardCounter;
}

.risk__title {
    margin-bottom: var(--offset);
}

/* .risk__item {
    display: flex;
    justify-content: space-between;

} */

.risk__col:not(:last-child) {
    margin-bottom: 80px;

}

.risk__col--1 {
    padding-left: 100px;
    position: relative;
    /* margin-right: 40px; */
    font-size: 24px;
    font-weight: 500;
    /* max-width: 437px; */

}


.risk__col--1 span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid #8A8A8A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.risk__col--1 span::before {
    content: counter(cardCounter);
    counter-increment: cardCounter;
    position: absolute;
    color: #8A8A8A;
    font-size: 20px;
    font-weight: 300;

}

.risk__col-sol {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
}

.risk__col-descr {
    font-size: 16px;
}

.risk__col1-text {
    max-width: 460px;
}

.risk__diamond {
    position: relative;
}

.risk__diamond-img {
    border-radius: 25px;
}

.risk__diamond-text {
    position: absolute;
    top: 40px;
    left: 40px;
    max-width: 320px;
    color: var(--black-color);
}

/* ----------------------------------------------------------------------------------------- */

.projects {
    padding: var(--offset) 0;
}

.projects__title {
    margin-bottom: 63px;
    max-width: 547px;
}

.projects__buttons {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.projects__btn {
    font-size: 24px;
    font-weight: 400;
    color: var(--white-color);
}

.projects__items {
    margin-bottom: 60px;
}

.projects__item {
    position: relative;
    padding-bottom: 40px;
    border-bottom: 1px solid #8A8A8A;
}

.projects__item-img {
    margin-bottom: 20px;
    border-radius: 30px;

}

.projects__item-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    border-radius: 100px;
    background-color: var(--white-color);
    color: var(--black-color);
    min-height: 60px;
}

.projects__item-descr {
    font-size: 24px;
    font-weight: 500;
}

.projects__item-image {
    width: 20px;
    height: 20px;
}


.projects__item-link {
    position: absolute;
    inset: 0;
}

.projects__block-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__show-link {
    display: inline-block;
    padding: 15.5px 36px;
    background-color: transparent;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    text-align: center;
    font-size: 24px;
    font-weight: 500;


}
/* ----------------------------------------------------------------------------------------- */

.catalog {
    padding: var(--offset) 0;
}

.catalog__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}

.catalog__top-btn {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #8A8A8A;
    color: #8A8A8A;
}

.catalog__title {
    max-width: 960px;
}

.catalog__img {
    margin-bottom: 40px;
    border-radius: 18px;
}

/* ----------------------------------------------------------------------------------------- */

.you {
    padding: var(--offset) 0;
}

.you__title {
    margin-bottom: 63px;
}

.you__columns {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 40px;
}

.you__column {
    grid-column: 3 span;
}

.you__column-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.you__column-img {
    border-radius: 13px;    
    height: 260px;
}

.you__column-card {
    border-radius: 13px;
    min-height: 260px;
    padding: 20px;
    border: 1px solid var(--white-color);

}


/* ----------------------------------------------------------------------------------------- */

.prof {
    padding: 146px 0 var(--offset);

}


.prof__title {
    margin-bottom: 60px;
}

.prof__cards {
    margin-bottom: var(--offset);
}

.prof__card {
    padding: 20px;
    border: 1px solid var(--white-color);
    border-radius: 9px;
    min-height: 147px;

}

.prof__card-act {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.prof__card-descr {
    font-size: 32px;
}

.prof__card-descr span {
    font-size: 48px;
}

.prof__box {
    position: relative;
}

.prof__box-img {
    border-radius: 25px;
}

.prof__box-descr {
    position: absolute;
    top: 40px;
    left: 40px;
    color: var(--black-color);
    max-width: 293px;
}

/* ----------------------------------------------------------------------------------------- */

.steps {
   padding: 31px 0 var(--offset);
   /* padding-bottom: var(--offset); */
}

.steps__title {
    max-width: 688px;
    margin-bottom: 60px;
}

.steps__items {
    /* display: flex; */
}

.steps__item:nth-child(3n) {

}

.steps__item {
    /* box-sizing: border-box; */
    /* flex: 0 0 360px; */
    padding: 20px;
    border: 3px solid #D9D9D9;
    border-radius: 13px;
    min-height: 393px;
    /* width: 360px; */
    
}

.steps__item-num {
    color: #8A8A8A;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
}

.steps__item-text {
    margin-bottom: 20px;
}

.steps-form {
    width: 100%;
    max-width: 100%;
    padding-bottom: 20px;
}

.steps-form__input {
    display: inline-block;
    margin-bottom: 12px;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid #FFF;
    width: 100%;
    min-height: 50px;
    padding: 15px;
    text-align: center;
    color: var(--white-color);
}

.steps-form__btn {
    display: inline-block;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    min-height: 50px;
    padding: 13px;
    text-align: center;
}

.steps__item-call {
    font-size: 20px;
    margin-bottom: 7px;
}

.steps__item-link {
    display: block;
    font-size: 20px;
}

.swiper {
    overflow-y: initial;
}

.swiper {
    width: 100%;
    max-width: 100%;
}

.swiper-slide {
    width: 360px;
    height: auto;
    box-sizing: border-box;
}

.swiper-button-prev,
.swiper-button-next {
    font-family: normal;
    position: absolute;
    width: 80px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    border-radius: 100px;
    position: absolute;
    top: -80px;
    right: 0;
    margin-left: 15px;
    
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;

}

.swiper-button-prev {
    background-image: url('../images/icons/arrow-left.svg');
    background-color: transparent;
    border: 1px solid var(--white-color);
    left: auto !important;
    right: 80px;
    
}

.swiper-button-next {
    background-image: url('../images/icons/arrow-right.svg');
    background-color: var(--white-color);
    border: none;
}






/* ----------------------------------------------------------------------------------------- */

.test {
    padding: var(--offset) 0;
}

.test__title {
    margin-bottom: 40px;
    max-width: 780px;
}

.test__btn--1 {
    margin-bottom: 20px;
}

.test__btn--2 {
    border: 1px solid var(--white-color);
}


/* ----------------------------------------------------------------------------------------- */

.footer {
    padding: var(--offset) 0;

}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__title {
    margin-bottom: 40px;
}

.footer__list {
    counter-reset: footer-list-num;

}

.footer__item {
    padding-left: 66px;
    position: relative;
    font-size: 24px;
}

.footer__item:not(:last-child) {
    margin-bottom: 33px;
}

.footer__item::before {
    content: counter(footer-list-num);
    counter-increment: footer-list-num;
    position: absolute;
    width: 50px;
    height: 30px;
    border: 1px solid #8A8A8A;
    border-radius: 100px;
    color: #8A8A8A;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.footer__item-address {
    font-style: normal;
}

@media(max-width: 1210px) {

    .btn-row {
        grid-column: 12 span;
    }

    .info-row {
        grid-column: 12 span;
    }
    .you__column {
        grid-column: 4 span;
    }

    .you__columns {
        grid-template-columns: repeat(8,1fr);
    }


    .best__bottom-buttons {
        margin-bottom: 30px;
    }

    .best__top-descr {
        font-size: 30px;
    }
    
    .risk__diamond-img {
        min-height: 500px;
    }

    .swiper-slide {
        width: calc((100% - 30px) / 2); /* Для двух карточек на одной строке */
      }

    .catalog__top {
        display: block;
    }

    .best__item {
        max-width: 65%;
    }

}

@media (max-width: 1050px) {
    .footer__inner {
        display: block;
    }

    .footer__left {
        margin-bottom: 20px;
    }
    
}

@media(max-width: 912px) {
    .you__item {
        grid-column: 5 span;
    }

    .projects__item-box {
        padding: 15px 35px;
    }

}

@media(max-width: 768px) {
   .grid {
        grid-template-columns: repeat(6, 1fr);
        gap: 15px;
   }

   .risk__col:not(:last-child) {
    margin-bottom: 25px;

    }

    .risk__col1-text {
        max-width: 100%;
    }

    .risk__item:not(:last-child) {
        margin-bottom: 35px;
    }

    .risk__col--1 {
        padding-left: 75px;
    }

    .risk__list {
        margin-bottom: 35px;
    }

    .projects__item-img {
        width: 100%;
    }

    

    .projects__item {
        padding: 20px 0;
    }

    .projects__item:last-child {
        border-bottom: none;
    }

    :root {
        --offset: 40px;
    }

    .prof {
        padding: var(--offset) 0;
    }

    .header__logo {
        margin-left: 0;
    }

    .phone {
        font-size: 18px;
    }

    .projects__show-link {
        padding: 20px 40px;
        max-width: 100%;
        width: 100%;
    }

    .catalog__top-btn {
        display: none;
    }

    .prof__card {
        border-radius: 20px;
    }

    .prof__box-img {
        min-height: 500px;
    }

    .btn-row{
        order: 2;
    }

    .info-row {
        order: 1;
    }

    .best__item:not(:last-child) {
        margin-bottom: 20px;
    }

    .best__list {
        flex-direction: column;
        margin-bottom: 40px;
    }




  


   
}

@media(max-width: 600px) {

    .best__title {
        font-size: 32px;
    }

    .risk__col1-text {
        font-size: 16px;
    }

    .best__top {
        display: none;
    }


    .best__bottom-buttons {
        display: block;
    }

    .best__bottom-btn {
        width: 100%;
        text-align: center;
    }

    .best__bottom-btn:first-child {
        margin-bottom: 12px;
        font-size: 16px;
        padding: 22px;
    }

    .projects__btn {
        font-size: 18px;
    }

    .projects__buttons {
        gap: 16px;
    }

    .swiper-slide {
        width: 100%;
    }

    .header__phone {
        display: none;
    }
    
    .projects__item-box {
        align-items: center;
        padding: 15px 30px;
    }

    .projects__item-descr {
        font-size: 18px;
    }

    .you__columns {
        grid-template-columns: repeat(4,1fr);
    }

    .you__inner-reverse .you__column-card {
        order: 2;
    }

    .you__inner-reverse .you__column-img {
        order: 1;
    }


}

@media(max-width: 500px) {

    .best__item:not(:last-child) {
        margin-bottom: 20px;
    }

    
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }
}


@media (max-width: 360px) {
    .container {
        padding: 0 10px;
    }

    .grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .best__list {
        display: block;
    }

    .best__item:not(:last-child) {
        margin-bottom: 20px;

    }

  

    .risk__col--1 {
        padding-left: 0;
        padding-top: 22px;
    }

    .risk__col--1 span {
        top: -10px;
        left: 0;
    }

    .risk__col {
        margin-bottom: 40px;
    }

    .projects__btn {
        font-size: 15px;
    }

    .projects__buttons {
        gap: 15px;
    }



    .section-title {
       font-size: 24px; 
    }

    .projects__item:first-child {
        padding-top: 0;
        
    }

    .projects__item:last-child {
        border-bottom: none;
        padding-bottom: none;
    }

    .projects__item-box {
        min-height: 40px;
        padding: 15px 35px;
    }

    .projects__item-descr {
        font-size: 16px;
    }

    .projects__show-link {
        padding: 20px;
        width: 100%;
    }

    .projects__items {
        margin-bottom: 40px;
    }

    .catalog__top-btn {
        display: none;
    }

    .catalog__img {
        margin-bottom: 12px;
    }


    .you__item {
        grid-column: 6 span;
    }

    .prof__card-act {
        font-style: 16px;
    }

    .prof__card-descr {
        font-size: 25px;
    }

    .prof__card-descr span {
        font-size: 30px;
    }

    .prof__box-img {
        min-height: 500px;
    }


    /* .steps__item {
        flex: 0 0 300px;
    } */






    
}

/* табы, показать еще, выравнивание лого, you карточки, квиз */



